<div id="__console">
    <dialog class="-c-dialog">
        <textarea class="__console_currentStyle"></textarea>
        <p> <button class="-c-cancel">Cancel</button> <button class="-c-save">Save</button> <span class="-c-elepath"></span></p>
    </dialog>
    <div class="-c-switch">Console</div>
    <div class="-c-content"></div>
    <div class="-c-eles"></div>
    <div class="-c-toolbar -c-consoleBar">
        <div class="-c-tool -c-clear">Clear</div>
        <div class="-c-tool -c-hide">Hide</div>
    </div>
    <div class="-c-toolbar -c-eleBar">
        <div class="-c-tool -c-refresh">Refresh</div>
        <div class="-c-tool -c-hide">Hide</div>
    </div>
    <div class="-c-tab">
        <div class="-c-tool -c-console -c-current">Console</div>
        <div class="-c-tool -c-elements">Elemenets</div>
    </div>
</div>
